{% extends 'base.html' %}
{% block content %}
<h1>notes</h1>
{% for note in notes %}
<a href="{% url 'notes_delete' note.id %}">Delete</a>
<a href="">
    <p>{{ note.title }}</p>
    <p>{{ note.content }}</p>
</a>
{% endfor %}

<div>
    <form action="/notes/add/" method="POST">
        {%csrf_token%}
        <input name="title" type="text" placeholder="Title">
        <textarea name="content" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="submit" class="">
    </form>
</div>
{% endblock %}